$lightGreen: #9cc5b5;
$green: #28a745;
$greenDark: #3d7761;
$greenDarker: #346653;
$red: #ff073a;
$white: #fff;
$white2: #f5f1ee;
$gray: #838383;
$lightgray: #b3b3b3;
$grayDarker: #534943;
$grayTextDescription: #bdbab8;
$black: #2d2d2d;
$blue: #42A5F5;
$purple: #C2185B;

$K_SIZE: 40px;
$I_SIZE: 20px;
$X_SIZE: 60px;

.sale-marker,
.sale-marker--hover {
  position: absolute;
  width: $K_SIZE;
  height: $K_SIZE;
  left: -$K_SIZE / 2;
  top: -$K_SIZE / 2;
  display: grid;
  place-content: center;
  border-radius: $K_SIZE;
  background-color: rgba($color: lighten($color: $green, $amount: 10), $alpha: 0.5);
  text-align: center;
  color: #3f51b5;
  font-size: 16px;
  font-weight: bold;
  padding: 4px;
  cursor: pointer;

  & > .marker-indicator {
    width: $I_SIZE;
    height: $I_SIZE;
    border-radius: $I_SIZE;
    background-color: rgba($color: darken($color: $green, $amount: 5), $alpha: 0.8);
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease;
    // pointer-events: none;
    // z-index: -1;
  }
}

.sale-marker--hover {
  & > .marker-indicator {
    transition: transform 0.2s ease;
    transform: scale(1.5) !important;
    background-color: $green;
  }
}


.no-sale-marker,
.no-sale-marker--hover {
  position: absolute;
  width: $K_SIZE;
  height: $K_SIZE;
  left: -$K_SIZE / 2;
  top: -$K_SIZE / 2;
  display: grid;
  place-content: center;
  border-radius: $K_SIZE;
  background-color: rgba($color: lighten($color: $purple, $amount: 10), $alpha: 0.5);
  text-align: center;
  color: #3f51b5;
  font-size: 16px;
  font-weight: bold;
  padding: 4px;
  cursor: pointer;

  & > .marker-indicator {
    width: $I_SIZE;
    height: $I_SIZE;
    border-radius: $I_SIZE;
    background-color: rgba($color: darken($color: $purple, $amount: 5), $alpha: 0.8);
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease;
    // pointer-events: none;
    // z-index: -1;
  }
}

.no-sale-marker--hover {
  & > .marker-indicator {
    transition: transform 0.2s ease;
    transform: scale(1.5) !important;
    background-color: $purple;
  }
}

.sale-marker-info-wrapper {
  position: absolute;
  left: -105px;
  top: calc(-100% - 70px);
  width: 250px;
  height: fit-content;
  min-height: 100px;
  background-color: $white;
  padding: 1rem;
  display: grid;
  filter: drop-shadow(0px 2px 5px rgba($color: $lightgray, $alpha: 0.7));
  text-align: left;
  z-index: 2;

  & > .sale-marker-title {
    color: $gray;
    font-size: 12px;
    margin: 7px 0 11px 0;
    display: block;
  }

  & > .sale-marker-schedule {
    color: $gray;
    font-size: 11px;
    margin: 7px 0 11px 0;
    font-weight: 100;

    & > svg {
      height: 12px;
      width: 12px;
      margin: 0 10px;
    }
  }

  & > .place-marker-redirect-link {
    color: #7fb4dd;
    font-size: 14px;
    margin: 0 0 11px 0;
    text-transform: uppercase;
    display: block;
    position: relative;

    &:hover {
      text-decoration: underline;
    }
  }
}

.cluster-marker,
.cluster-marker--hover {
  position: absolute;
  width: $X_SIZE;
  height: $X_SIZE;
  left: -$X_SIZE / 2;
  top: -$X_SIZE / 2;
  display: grid;
  place-content: center;
  border-radius: $X_SIZE;
  background-color: rgba($color: lighten($color: $blue, $amount: 10), $alpha: 0.5);
  text-align: center;
  border: solid 2px;
  color: $white;
  font-size: 16px;
  font-weight: bold;
  padding: 4px;
  cursor: pointer;

  & > .marker-indicator {
    width: $K_SIZE;
    height: $K_SIZE;
    border-radius: $K_SIZE;
    background-color: rgba($color: darken($color: $blue, $amount: 5), $alpha: 0.8);
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease;
    // pointer-events: none;
    // z-index: -1;
  }
}

.cluster-marker--hover {
  & > .marker-indicator {
    transition: transform 0.2s ease;
    transform: scale(1.2) !important;
    background-color: $blue;
  }
}

:export {
  constSize: $K_SIZE;
}
